<h1 class="mat-h1">Scout a Match!</h1>
<form [formGroup]="this.fgMatch" *ngIf="!this.scoutingActive">
  <div class="flex-row progress-bar" *ngIf="this.loadingData">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <ng-container *ngIf="!this.loadingData">
    <div class="flex-row">

      <mat-form-field class="scout-input">
        <mat-label>Match</mat-label>
        <mat-select class="team-dropdown" formControlName="match">
          <mat-option value="0">Select Match</mat-option>
          <mat-option *ngFor="let m of this.matchList" [value]="m.match_number">{{ getMatchLabel(m) }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  <div class="flex-row" *ngIf="this.matchNumber != 0">
    <mat-form-field class="team-dropdown">
      <mat-label>Team you are Scouting</mat-label>
      <mat-select class="team-dropdown" formControlName="scoutingTeam">
        <mat-option value="0">Select Team</mat-option>
        <mat-option *ngFor="let t of this.teamList" [value]="t.number">{{ getTeamLabel(t) }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="this.matchCount == 0">
    No matches published yet. The event must first finalize the schedule
    before this screen will be available.
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="upload-data-button"
    *ngIf="this.scoutingTeamSelected"
    (click)="this.beginScouting()">Begin Scouting!</button>
  </div>
  </ng-container>
</form>

<div class="flex-col" *ngIf="this.scoutingActive">
    <!-- Preferences -->
    <div class="flex-row">
        <mat-checkbox [(ngModel)]="this.appData.showConfetti">Show Confetti Feedback?</mat-checkbox>
    </div>
    <!-- Auton Controls -->
  <div class="flex-row game-section">
    <h1 class="mat-h1 game-section">Autonomous</h1>
  </div>

  <div class="flex-row">
      <mat-checkbox class="dt-checkbox" [(ngModel)]="this.appData.scoutingData.auto_nothing">Did Nothing</mat-checkbox>
  </div>
  <div class="flex-row">
      <mat-checkbox class="dt-checkbox" [(ngModel)]="this.appData.scoutingData.auto_zone">Left Zone</mat-checkbox>
  </div>

  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Amps</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoAmpDec()">-</button>
    <span class="score">{{ this.appData.scoutingData.auto_amp }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoAmpInc()">+</button>
  </div>

  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Speakers</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoSpeakerDec()">-</button>
    <span class="score">{{ this.appData.scoutingData.auto_speaker }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoSpeakerInc()">+</button>
  </div>

  <div class="flex-row game-section">
    <h2 class="mat-h2">Teleop</h2>
  </div>
  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Amps</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopAmpDec()">-</button>
    <span class="score">{{ this.appData.scoutingData.teleop_amp }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopAmpInc()">+</button>
  </div>

  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Speakers</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopSpeakerDec()">-</button>
    <span class="score">{{ this.appData.scoutingData.teleop_speaker }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopSpeakerInc()">+</button>
  </div>
  <div class="flex-row game-section">
    <h2 class="mat-h2">End Game</h2>
  </div>
  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Traps</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.endgameTrapDec()">-</button>
    <span class="score">{{ this.appData.scoutingData.endgame_trap }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.endgameTrapInc()">+</button>
  </div>
  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Microphone - Human Player</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.endgameMicrophoneDec()">-</button>
    <span class="score">{{ this.appData.scoutingData.endgame_microphone }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.endgameMicrophoneInc()">+</button>
  </div>
  <div class="flex-row">
    <mat-checkbox class="dt-checkbox" [(ngModel)]="this.appData.scoutingData.endgame_park">Parked - Bumpers Under the Stage</mat-checkbox>
</div>
<div class="flex-row">
    <mat-checkbox class="dt-checkbox" [(ngModel)]="this.appData.scoutingData.endgame_onstage">Hanging</mat-checkbox>
</div>
<div class="flex-row">
  <mat-checkbox class="dt-checkbox" [(ngModel)]="this.appData.scoutingData.endgame_harmony">Harmony - Two or More Robots Hanging</mat-checkbox>
</div>

  <div class="flex-row game-section">
    <h2 class="mat-h2">Match Notes</h2>
  </div>
  <div class="flex-row">
    <mat-form-field class="scout-input">
      <mat-label>Notes</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="10"
                  [(ngModel)]="this.appData.scoutingData.match_notes"></textarea>
    </mat-form-field>
  </div>

  <div class="flex-row">
    <ng-container *ngIf="this.uploadError">
      <h3 mat-h3 class="upload-error-test">Error uploading data, try again when network improves.</h3>
    </ng-container>
  </div>

  <div class="flex-row" *ngIf="!this.sendingData">
    <button mat-raised-button color="ts-red" class="upload-data-button" (click)="this.uploadData()">Upload Data</button>
    <button mat-raised-button class="clear-form-button" (click)="this.resetFormConfirm()">Clear Form</button>
  </div>

  <div class="flex-row progress-bar" *ngIf="this.sendingData">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

</div>
