<h1 class="mat-h1">Scout a Match!</h1>
<form [formGroup]="this.fgMatch" *ngIf="!this.scoutingActive">
  <div class="flex-row progress-bar" *ngIf="this.loadingData">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <ng-container *ngIf="!this.loadingData">
    <div class="flex-row">

      <mat-form-field class="scout-input">
        <mat-label>Match</mat-label>
        <mat-select class="team-dropdown" formControlName="match">
          <mat-option value="0">Select Match</mat-option>
          <mat-option *ngFor="let m of this.matchList" [value]="m.match_number">{{ getMatchLabel(m) }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  <div class="flex-row" *ngIf="this.matchNumber != 0">
    <mat-form-field class="team-dropdown">
      <mat-label>Team you are Scouting</mat-label>
      <mat-select class="team-dropdown" formControlName="scoutingTeam">
        <mat-option value="0">Select Team</mat-option>
        <mat-option *ngFor="let t of this.teamList" [value]="t.number">{{ getTeamLabel(t) }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="this.matchCount == 0">
    No matches published yet. The event must first finalize the schedule
    before this screen will be available.
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="upload-data-button"
    *ngIf="this.scoutingTeamSelected"
    (click)="this.beginScouting()">Begin Scouting!</button>
  </div>
  </ng-container>
</form>

<div class="flex-col" *ngIf="this.scoutingActive">
    <!-- Preferences -->
    <div class="flex-row">
        <mat-checkbox [(ngModel)]="this.appData.showConfetti">Show Confetti Feedback?</mat-checkbox>
    </div>
    <!-- Auton Controls -->
  <div class="flex-row game-section">
    <h1 class="mat-h1 game-section">Autonomous</h1>
  </div>

  <div class="flex-row">
      <mat-checkbox class="dt-checkbox" [(ngModel)]="this.appData.scoutingData.auto_nothing">Did Nothing</mat-checkbox>
  </div>
  <div class="flex-row">
      <mat-checkbox class="dt-checkbox" [(ngModel)]="this.appData.scoutingData.auto_left_line">Left Line</mat-checkbox>
  </div>

  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Coral 4</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoCoral4Dec()">-</button>
    <span class="score">{{ this.appData.scoutingData.auto_coral4 }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoCoral4Inc()">+</button>
  </div>

  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Coral 3</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoCoral3Dec()">-</button>
    <span class="score">{{ this.appData.scoutingData.auto_coral3 }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoCoral3Inc()">+</button>
  </div>

  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Coral 2</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoCoral2Dec()">-</button>
    <span class="score">{{ this.appData.scoutingData.auto_coral2 }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoCoral2Inc()">+</button>
  </div>

  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Coral 1</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoCoral1Dec()">-</button>
    <span class="score">{{ this.appData.scoutingData.auto_coral1 }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoCoral1Inc()">+</button>
  </div>

  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Algae - Barge</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoBargeDec()">-</button>
    <span class="score">{{ this.appData.scoutingData.auto_barge }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoBargeInc()">+</button>
  </div>

  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Algae - Processor</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoProcessorDec()">-</button>
    <span class="score">{{ this.appData.scoutingData.auto_processor }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.autoProcessorInc()">+</button>
  </div>

  <div class="flex-row game-section">
    <h2 class="mat-h2">Teleop</h2>
  </div>

  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Coral 4</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopCoral4Dec()">-</button>
    <span class="score">{{ this.appData.scoutingData.teleop_coral4 }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopCoral4Inc()">+</button>
  </div>

  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Coral 3</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopCoral3Dec()">-</button>
    <span class="score">{{ this.appData.scoutingData.teleop_coral3 }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopCoral3Inc()">+</button>
  </div>

  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Coral 2</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopCoral2Dec()">-</button>
    <span class="score">{{ this.appData.scoutingData.teleop_coral2 }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopCoral2Inc()">+</button>
  </div>

  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Coral 1</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopCoral1Dec()">-</button>
    <span class="score">{{ this.appData.scoutingData.teleop_coral1 }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopCoral1Inc()">+</button>
  </div>

  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Algae - Barge</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopBargeDec()">-</button>
    <span class="score">{{ this.appData.scoutingData.teleop_barge }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopBargeInc()">+</button>
  </div>

  <div class="flex-row score-label">
    <h4 class="mat-h4 game-element">Algae - Processor</h4>
  </div>
  <div class="flex-row">
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopProcessorDec()">-</button>
    <span class="score">{{ this.appData.scoutingData.teleop_processor }}</span>
    <button mat-raised-button color="ts-red" class="pm-button" (click)="this.teleopProcessorInc()">+</button>
  </div>
  <div class="flex-row game-section">
    <h2 class="mat-h2">End Game</h2>
  </div>
  <div class="flex-row">
    <mat-checkbox class="dt-checkbox" [(ngModel)]="this.appData.scoutingData.endgame_park">Parked</mat-checkbox>
</div>
<div class="flex-row">
    <mat-checkbox class="dt-checkbox" [(ngModel)]="this.appData.scoutingData.endgame_hang_shallow">Shallow Cage (higher) </mat-checkbox>
</div>
<div class="flex-row">
  <mat-checkbox class="dt-checkbox" [(ngModel)]="this.appData.scoutingData.endgame_hang_deep">Deep Cage (close to ground)</mat-checkbox>
</div>

  <div class="flex-row game-section">
    <h2 class="mat-h2">Match Notes</h2>
  </div>
  <div class="flex-row">
    <mat-form-field class="scout-input">
      <mat-label>Notes</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="10"
                  [(ngModel)]="this.appData.scoutingData.match_notes"></textarea>
    </mat-form-field>
  </div>

  <div class="flex-row">
    <ng-container *ngIf="this.uploadError">
      <h3 mat-h3 class="upload-error-test">Error uploading data, try again when network improves.</h3>
    </ng-container>
  </div>

  <div class="flex-row" *ngIf="!this.sendingData">
    <button mat-raised-button color="ts-red" class="upload-data-button" (click)="this.uploadData()">Upload Data</button>
    <button mat-raised-button class="clear-form-button" (click)="this.resetFormConfirm()">Clear Form</button>
  </div>

  <div class="flex-row progress-bar" *ngIf="this.sendingData">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

</div>
