mat-slide-toggle {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.game-section {
  margin-top: 1em;
  text-decoration: underline;
}


.hang-radio-button {
  margin: 0.5em;
  display: inline-block;
}

.end-game-section {
  align-content: center;
}

.pm-button {
  height: 2em;
  font-size: 16pt;
  font-weight: bold;
  margin-left: 1em;
  margin-right: 1em;
  align-self: baseline;
  border-radius: 12px;
}

.score {
  font-size: 20pt;
  font-weight: normal;
  margin-left: 0.5em;
  margin-right: 0.5em;
  align-self: baseline;
  font-family: Roboto;
}

.score-label {
  font-size: 12pt;
  margin-top: 0.5em;
}

.comment-box {
  display: flex;
}

.upload-data-button {
  margin-top: 1em;
  margin-right: 2em;
}

.clear-form-button {
  margin-top: 1em;
  margin-left: 2em;
}

.upload-error-text {
  color: #f44336;
}

.snackbar-error {
  background-color: #f44336 !important;
}

.progress-bar {
  width: 150px;
  height: 15px;
}

.team-dropdown {
  width: 20em;
}

.dt-checkbox {
  margin-right: 0.50em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: inline-flex;
}
