<mat-sidenav-container [hasBackdrop]="this.sidenavOpen" autosize
     role="main" class="main-container">
  <mat-sidenav [mode]="this.fullDisplay ? 'side' : 'over'"
               [opened]="this.fullDisplay || this.sidenavOpen"
               class="main-sidenav"
               #sidenav>
    <div class="menu-container">
      <div class="menu-header">
        <img src="./assets/trisonics_logo.png" alt="Trisonics Logo" class="trisonics-logo">
      </div>
      <mat-nav-list>
        <!--
        <a routerLink="/time-keeper" mat-list-item routerLinkActive="active" class="menu-link"
          (click)="this.sidenav.mode === 'side' || this.sidenav.close()">
          <mat-icon class="menu-icon">work_history</mat-icon>Time Keeper
        </a>
      -->
        <a routerLink="/schedule" mat-list-item routerLinkActive="active" class="menu-link"
          (click)="this.sidenavClick();">
          <mat-icon class="menu-icon">work_history</mat-icon><span class="menu-link">Schedule</span>
        </a>
        <a routerLink="/scout-match" mat-list-item routerLinkActive="active" class="menu-link"
          (click)="this.sidenav.mode === 'side' || this.sidenav.close()">
          <mat-icon class="menu-icon">dashboard</mat-icon><span class="menu-link">Scout Match</span>
        </a>
        <a routerLink="/scout-pit" mat-list-item routerLinkActive="active" class="menu-link"
          (click)="this.sidenav.mode === 'side' || this.sidenav.close()">
          <mat-icon class="menu-icon">topic</mat-icon><span class="menu-link">Scout Pit</span>
        </a>
        <!--

        <a routerLink="/view-results" mat-list-item routerLinkActive="active" class="menu-link"
          (click)="this.sidenav.mode === 'side' || this.sidenav.close()">
          <mat-icon class="menu-icon">verified</mat-icon><span class="menu-link">Match Data</span>
        </a>
        <a routerLink="/view-pits" mat-list-item routerLinkActive="active" class="menu-link"
          (click)="this.sidenav.mode === 'side' || this.sidenav.close()">
          <mat-icon class="menu-icon">newspaper</mat-icon><span class="menu-link">Pit Data</span>
        </a>
        <a routerLink="/team-details" mat-list-item routerLinkActive="active" class="menu-link"
          (click)="this.sidenav.mode === 'side' || this.sidenav.close()">
          <mat-icon class="menu-icon">query_stats</mat-icon><span class="menu-link">OPR Data</span>
        </a>
        -->
        <a routerLink="/settings" mat-list-item routerLinkActive="active" class="menu-link"
          (click)="this.sidenav.mode === 'side' || this.sidenav.close()">
          <mat-icon class="menu-icon">settings</mat-icon><span class="menu-link">Settings</span>
        </a>
        <a routerLink="/helddata" mat-list-item routerLinkActive="active" class="menu-link"
          (click)="this.sidenav.mode === 'side' || this.sidenav.close()">
          <mat-icon class="menu-icon">markunread</mat-icon><span class="menu-link">Held Data</span>
        </a>
      </mat-nav-list>
   </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row class="main-toolbar">
        <button mat-icon-button
                (click)="this.displaySidenavMenu()"><mat-icon aria-label="Menu">menu</mat-icon></button>
        <div class="data-key-header">
          <span class="mat-body">Data Key:</span>
          <span class="mat-body data-key-text">{{this.displayTeamKey}}</span>
          <mat-icon
            (mousedown)="this.enableDisplayTeamKey()">visibility</mat-icon>
        </div>
        <div class="app-version">
          <span>v.Offseason</span>
        </div>

        <span class="toolbar-spacer"></span>
        <body class="mat-body">
          <span *ngIf="this.appData.scouterName">
            {{this.appData.scouterName}} scouting {{this.appData.eventName}}
          </span>
        </body>
        <mat-icon (click)="this.goToSettings()">settings</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
    <main class="main-router-outlet">
      <router-outlet>
      </router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
