html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-ts-red {
  background-color: #972123 !important;
  color: white !important;
}

.mat-ts-cube {
  background-color: purple !important;
  color: white !important;
}
.mat-ts-cone {
  background-color: darkgoldenrod !important;
  color: white !important;
}

.mat-row:nth-child(even){
  background-color: white !important;
}

.mat-row:nth-child(odd){
  background-color: lightgray !important;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.scout-input {
  width: 300px;
}

.mat-card-title {
  font-size: 14px;
}

app-scout-pit-view {
  margin: 2em;
}
